body {
  padding-top: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
  
div.larry { border-width: 10; text-align:midddle; 
}
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 40px;
  padding: 2px;
  width: auto;
}